PORT=5000
MONGO_URI=mongodb+srv://kannanpro2006_db_user:DDd9UnH1t2leu4q8@cluster0.mk1xr9n.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLIENT_URL=http://localhost:5173
